.z-button:focus, .z-button:active {
    color: #000;
     background-color: #E46051;
    /* background: -webkit-linear-gradient(top, #fefefe 0%, #eeeeee 100%); */
    /* background: linear-gradient(to bottom, #fefefe 0%, #eeeeee 100%); */
    /* -webkit-box-shadow: inset 0 0 2px #0CBCFF; */
    /* box-shadow: inset 0 0 2px #0CBCFF; */
}

div.z-north {
	padding-top: 	5px;
	background-color: #EDEFF5;
	border: none;
}

div.z-center {
	background-color: #EDEFF5;
	border: none;
	padding-left: 5px;
	padding-right: 2px;
}

div.z-south {
	height: 		25px;
	padding-top: 	5px;
	padding-bottom: 5px;
	text-align: center;
	background-color: #EDEFF5;
	border: none;
}

/* Intestazione con titolo e pulsanti delle sezioni */

.intestazione {
	/* bordi arrotondati */
	border-radius: 10px;


/* ombreggiattura intorno all'intestazione */
	box-shadow: 5px 5px 5px #8E8F93;
	
	background-color: #FFFFFF;
	border-style: solid;
	border-color: #4D6482;
	border-width: 2px;

/* 	margin: auto; */
	margin: 5px;
	padding-bottom: 5px;
}

.logoApplicazione {
	width: 			100%;
	padding-right: 	10px;
 	margin-left: 	10px;
  	margin-top: 	5px;
}

.titoloApplicazione {
	font-size: 		12px;
	padding-left: 	20px;
	font-family: 	verdana, arial, sans-serif;
	font-weight: 	bold;
	color: 			#7FCEFF;
}

.descrizioneApplicazione {
	padding-left: 	10px;
	font-family: 	verdana, arial, sans-serif;
	font-weight: 	bold;
	font-size: 		10px;
	color: 			#666666;
	
}

.acronimoApplicazione{
	font-size: 		38px;
	padding-left: 	20px;
	font-family: 	verdana, arial, sans-serif;
  	font-style: 	italic;
	font-weight: 	bold;
	color: 			#7FCEFF;
	padding-top: 	10px;
	padding-bottom: 	10px;
}

.container{
	margin-top: 10px;
}

.afc-control-bar {
	/* bordi arrotondati */
	-webkit-border-radius: 	10px;
	-moz-border-radius: 	0px;
	border-radius: 			10px;

	background-color: #FFFFFF;
	border-style: 	solid;
	border-color: 	#B7BABC;
	border-width: 	1px;

	padding-top: 	3px;	
	padding-bottom: 3px;
	padding-right: 	5px;
	padding-left: 	5px;
}

.campoRicerca{
	border-color: #7FCEFF;
	border-style: solid;
	border-width: 2px;
	height: 20px;
	width: 250px;
}

.btn{
	border-color: #4D6482;
	border-style: solid;
	border-width: 3px;
	border-radius: 8px;
	color: #4D6482;
	height: 30px;
	width: 100px;
}


.z-tab-ver-seld .z-tab-ver-hm,
.z-tab-ver-seld .z-tab-ver-hl,
.z-tab-ver-seld .z-tab-ver-hl .z-tab-ver-hr, 
.z-tab-ver-seld .z-tab-ver-hl:hover .z-tab-ver-hr,
.z-tab-ver-seld .z-tab-ver-text,
.z-tab-seld .z-tab-hm,
.z-tab-seld .z-tab-hl,
.z-tab-seld .z-tab-hl .z-tab-hr, 
.z-tab-seld .z-tab-hl:hover .z-ver-hr,
.z-tab-seld .z-tab-text  {
	background: none;
	background-color: #EDEFF5;
}

.z-tab-ver-seld {
	border-top: 1px solid;
	border-left: 1px solid;
	border-bottom: 1px solid;
	border-color: #CFCFCF;
}

.z-tab-seld {
	border-right: 1px solid;
	border-left: 1px solid;
	border-top: 1px solid;
	border-color: #CFCFCF;
}


.z-tabbox-ver .z-tabpanels-ver,
.z-tabbox .z-tabpanels,
.z-tabpanel {
	background-color: #EDEFF5;
	border-color: #CFCFCF;
}

.z-tabs-ver .z-tabs-ver-cnt,
.z-tabs .z-tabs-cnt {
	border-color: #CFCFCF;
}

.z-tabs-ver-scroll {
	width: 	87px !important;  /* larghezza del tab a sinistra */
}

.docMenuSx .z-tabs-ver-scroll .z-tabs-ver-header {
	background: none repeat scroll 0 0 #EDEFF5;
	zoom: 1;
	position: relative;
}

.z-tabs-header {
overflow: visible !important;
}

div.z-grid-body {
	background: #EDEFF5 !important;
}

.form div.z-grid-body {
	background: #EDEFF5 !important;
	border: 	0;
	overflow:	auto;
	width: 		100%;
}

div .z-window-modal-cnt-noborder{
	background: #EDEFF5 !important;
}

body,
input, select, textarea, label {
	font-family: verdana, arial, sans-serif;
}

.mandatoryLabel {
	color: 		#ff2323;
	font-size: 	20px;
	position: 	relative;
	top: 		0.25em;
	right: 		0.25em;
}
.intestazioneDx {
	text-align: right;
}

button.afc-button-header {
	height:	30px;
	width: 	145px;
	
	font-size:		10px;
	font-family:	verdana;
	text-align: 	right;
	padding-right:	5px;
	
	background-color:#cfd3e3;
	border-style:	solid;
	border-color:	#556b88;
	border-width:	3px;
	cursor:			pointer;
   
	/* bordi arrotondati */
	-webkit-border-radius: 	10px;
	-moz-border-radius: 	10px;
	border-radius: 			10px;
}

button.selected {
   background-color:	#fefbfd;
   border-color:		#556b88;
}

button.afc-button-header img {
    position: absolute;
    z-index: 1000000;
    top: 0px;
    left: 10px;
}

.z-button img {
    vertical-align: middle;
}

.z-hlayout-inner {
    display: inline-block;
    position: relative;
    vertical-align: top;
    white-space: normal;
}

.intestazioneDx .z-hlayout {
    margin-right: 60px;
    margin-top: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.z-hlayout {
    white-space: nowrap;
}
.z-hlayout, .z-vlayout {
    overflow: hidden;
}

.intestazioneDx .utente {
	margin-right: 	30px;
	font-size: 		9pt;
	font-family: 	verdana;
}

/* messaggi di errore */
.windowErrore {
	border: 2px solid #FF0000;
}

.testoErrore {
	background-color: #FFE2E1;
	padding: 5px;
}

.pulsanteErrore, .pulsanteErrore:focus, .pulsanteErrore:hover {
	border: none;
    color: #fff;
    padding: 0;
    height: 25px;
    width: 80px;
    background-color: #E46051;
    background: #E46051;
}


